
.divsp{
padding: 15px;
}

.form-inline{
  max-width: 500px;
  padding: 15px;
  margin-bottom: 20px
}

.form-inline .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-inline .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.my-page-header{
  border: 0px solid;
  height: 100px;
}
