{% extends "base.html" %}

{% block title %}关于 - 小王子推送{% endblock %}

{% block content %}
{{super()}}
<script src="{{url_for('.static', filename='./js/jquery.bootstrap-autohidingnavbar.js',_external=True)}}"></script>
<script>$("nav.navbar-fixed-top").autoHidingNavbar();</script>
{% endblock %}

{% block page_content %}
<div style="border: 0px solid; height: 70px;"></div>
<h3><i class="fa fa-info fa-fw"></i> 关于</h3>

<hr>
<p style="line-height:2;font-size:16px">
我是一枚程序猿，目前也是一名研究生，不务正业地开发了这个纯属兴趣。<br>
我从去年6月份入股市，9月份下旬离开股市，短短三月，尝遍了股市的心酸苦楚，然而邮件服务就是诞生于那个天天跌停的时期。<br>
当时正值股灾2.0，有幸关注到了wu2198，不忍每天不停刷其博客之苦，遂写了个推送服务给自己用，能第一时间知道知晓wu2198的仓位变化，甚是方便。<br>想到wu粉遍布大江南北，每天自开盘起，无数个F5键便被不停地按下。<br>
为了解放成千上万的操盘手，便将该推送完善做成订阅模式，供广大wu粉使用。<br>
在邮件推送服务了三个多月后，又推出了群直播服务，反响甚好。<br>
我的口号：死磕自己，服务大家，全力打造一款小众而优质的推送服务。
</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
<h4>联系我</h4>
<p style="line-height:2;font-size:16px">
微博：
<a href="http://weibo.com/wublogpush"
style="color: #6495ED;text-decoration:none;"·
target="_blank">newTypeMaLi</a><br>
邮箱：1656758436@qq.com <br>
欢迎联系我咨询或反馈。

</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
<a name="comment" ></a>
<h4><i class="fa fa-comment fa-fw"></i> 留言反馈</h4>
<p style="line-height:2;font-size:16px">
欢迎在此给我留言反馈，可以给我建议，可以评价下这个服务，也可以分享下这个服务是如何帮助到了你。
<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="about" data-title="关于 - 小王子推送"
      data-url="http://wublogpush.com/about"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"wublogpush"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->

{% endblock %}
