{% extends "base.html" %}

{% block title %}关于 - 小王子推送{% endblock %}

{% block page_content %}
<div style="border: 0px solid; height: 70px;"></div>
<h3><i class="fa fa-info fa-fw"></i>关于</h3>

<hr>
<p style="line-height:2;font-size:16px">
我是一枚程序猿，目前也是一名研究生，利用业余时间开发了这个服务纯属兴趣。<br>
我从去年6月份入股市，9月份下旬离开股市，短短三月，尝遍了股市的心酸苦楚，然而邮件服务就是诞生于那个天天跌停的时期。<br>
当时正值股灾2.0，有幸关注到了wu2198，不忍每天不停刷其博客之苦，遂写了个邮件推送给自己用，能第一时间知晓wu2198的仓位变化，甚是方便。<br>想到wu粉遍布大江南北，每天自开盘起，无数个F5键便被不停地按下。<br>
为了解放成千上万的操盘手，便将该推送完善做成订阅模式，供广大wu粉使用。<br>
在邮件推送服务了三个多月后，也就是2015年12月，又推出了群直播服务，反响甚好。<br>
我的口号：死磕自己，服务大家，全力打造一款小众而优质的推送直播服务。
</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
<h3><i class="fa fa-film fa-fw"></i> 演员表</h3>
<p style="line-height:2;font-size:16px">
<ul style="list-style:circle;font-size:16px;line-height:1.8;">
    <li>群直播 演员表：
        <ul style="list-style:circle;">
            <li>编程：蜗牛</li>
            <li>编程：小鱼</li>
            <li>群主：蜗牛</li>
            <li>管理员：知易</li>
            <li>管理员：艾彦</li>
            <li>管理员：小鱼</li>
        </ul>
    </li>
    <li>邮件推送 演员表：
        <ul style="list-style:circle;">
            <li>设计：蜗牛</li>
            <li>编程：蜗牛</li>
        </ul>
    </li>
    <li>网站 演员表：
        <ul style="list-style:circle;">
            <li>设计：蜗牛</li>
            <li>编程：蜗牛</li>
        </ul>
    </li>
</ul>
</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
<h3>联系我们</h3>
<p style="line-height:2;font-size:16px">
官方微博：
<a href="http://weibo.com/wublogpush"
style="color: #6495ED;text-decoration:none;"·
target="_blank">直播小王子</a><br>
联系我：1656758436@qq.com <br>
</p>


<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
<a name="comment"  style="color: #000000;text-decoration:none;"></a>
<h3><i class="fa fa-comments fa-fw"></i> 留言反馈</h3>
<p style="line-height:2;font-size:16px">
欢迎在此留言反馈。<br>
可以留下你的问题，<br>
可以给我们建议， <br>
可以评价下这个服务，<br>
也可以分享下这个服务是如何帮助到了你。
<hr>
<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="about" data-title="关于 - 小王子推送"
      data-url="http://wublogpush.com/about"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"wublogpush"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->

{% endblock %}
