{% extends "base.html" %}

{% block title %}关于 - 小王子推送{% endblock %}

{% block page_content %}
<h3>关于</h3>
<hr>
<h4>关于我</h4>
<p style="line-height:2;font-size:16px">
我是一枚程序员。<br>
有幸关注到了wu2198，不忍每天不停刷其博客之苦，遂写了个推送服务给自己用，能第一时间知道知晓wu2198的仓位变化，甚是方便。<br>
想到wu粉遍布大江南北，每天自开盘起，无数个F5键便被不停地按下。<br>
为了解放成千上万的操盘手，便将该推送完善做成订阅模式，供广大wu粉使用。<br>
我的口号：死磕自己，服务大家，全力打造一款小众而优质的推送服务。
</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
<h4>联系我</h4>
<p style="line-height:2;font-size:16px">
微博：
<a href="http://weibo.com/wublogpush"
style="color: #6495ED;text-decoration:none;"·
target="_blank">newTypeMaLi</a><br>
邮箱：1656758436@qq.com <br>
欢迎联系我咨询或反馈。

</p>
{% endblock %}
