{% extends "base.html" %}

{% block title %}激活邮箱 - 小王子推送{% endblock %}

{% block page_content %}
<div style="border: 0px solid; height: 70px;"></div>
<div class="page-header">
  <h3>{{ message|safe }}</h3>
  <hr>
  <p style="line-height:2;font-size:16px">
  我们也推出了<b><a href="/#group-live" style="color: #6495ED;">群直播服务</a></b>－－「小王子推送直播群」。<br>
  盘中自动直播「wu2198股市直播」博文更新，免除您不断刷新博客的烦恼。<br>
   </p>
   <hr>
	<p style="line-height:2;font-size:16px">
	更有最新功能－－<b><a href="/positions" style="color: #6495ED;">仓位统计</a></b>。<br>图表统计显示wu2198历史仓位变化、交易汇总，助您学习仓位管理。
	</p>
</div>
{% endblock %}
