{% extends "bootstrap/base.html" %}
{% block scripts %}
{{super()}}

  <!-- Bootstrap Core CSS -->

  <!-- Custom CSS -->
<script src="http://source.wublogpush.com/static%2Fjs%2Fjquery.bootstrap-autohidingnavbar.js"></script>
<script>$("nav.navbar-fixed-top").autoHidingNavbar();</script>
<script src="http://source.wublogpush.com/static%2Fjs%2Fscript.js"></script>


  <!-- Custom Fonts -->
     <link href="{{url_for('.static', filename='./font-awesome/css/font-awesome.min.css',_external=True)}}" rel="stylesheet" type="text/css"/>
     <!--<link href="http://source.wublogpush.com/static%2Ffont-awesome%2Fcss%2Ffont-awesome.min.css" rel="stylesheet" type="text/css"/>-->
     <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

{% endblock %}

{% block title %}小王子推送{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/">
              <span style="font-size:18px">小王子推送</span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/positions">仓位统计</span></a>
                </li>
                <li>
                    <a href="/pushes">最新一期</span></a>
                </li>
                <li>
                    <a href="/FAQ">常见问题</a>
                </li>
                <li>
                    <a href="/thanks">鸣谢</a>
                </li>
                <li>
                    <a href="/donate">赞助</a>
                </li>
                <li>
                    <a href="/about">关于</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{% endblock %}

{% block content %}
{% block index_content %}{% endblock %}

<div class="container" >

    {% block page_content %}{% endblock %}
</div>



<!-- Footer -->
<footer style="padding: 50px 0; background-color: #f8f8f8;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/FAQ">常见问题</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/about#comment">留言反馈</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/about">关于</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; 2015-2016
                小王子推送 | 苏ICP备15049508号</p>
            </div>
        </div>
    </div>
</footer>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75311298-1', 'auto');
  ga('send', 'pageview');

</script>

{% endblock %}
