{% extends "base.html" %}

{% block title %}赞助 - 吴姐推送{% endblock %}

{% block page_content %}
{% filter markdown %}
###赞助
{% endfilter %}
<hr>
<p style="line-height:2;font-size:16px">
如果这个服务对你有一定的帮助，不妨小额赞助我一下，帮我分担一些费用，也让我有动力继续完善服务。<br>
赞助方式有两种：微信支付、支付宝支付。
</p>
<hr>
<h4><b>赞助方式一：微信支付</b></h4>
<p style="line-height:2;font-size:16px">
如果你有微信，请打开微信，使用「扫一扫」付款。<br>
如果你正在使用微信浏览该页面，可直接「长按」下方的二维码「识别图中二维码」完成赞助。<br>
请闭上眼睛随意选择：<br>
</p>
<ul id="wechatTab" class="nav nav-pills">
   <li><a href="#donate-wechat-18" data-toggle="pill">￥18</a></li>
   <li class="active"><a href="#donate-wechat-28" data-toggle="pill">￥28</a></li>
   <li><a href="#donate-wechat-38" data-toggle="pill">￥38</a></li>
   <li><a href="#donate-wechat-68" data-toggle="pill">￥68</a></li>
   <li><a href="#donate-wechat-88" data-toggle="pill">￥88</a></li>
   <li><a href="#donate-wechat-188" data-toggle="pill">我是土豪</a></li>
   <li><a href="#donate-wechat-any" data-toggle="pill">其他</a></li>
</ul>

<div id="wechatTabContent" class="tab-content">
   <div class="tab-pane fade" id="donate-wechat-18">
      <img src="http://source.wublogpush.com/donate-wechat-18.png"
      alt="donate_wechat_18" />
   </div>
   <div class="tab-pane fade in active" id="donate-wechat-28">
      <img src="http://source.wublogpush.com/donate-wechat-28.png"
      alt="donate_wechat_28" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-38">
      <img src="http://source.wublogpush.com/donate-wechat-38.png"
      alt="donate_wechat_38" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-68">
      <img src="http://source.wublogpush.com/donate-wechat-68.png"
      alt="donate_wechat_68" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-88">
      <img src="http://source.wublogpush.com/donate-wechat-88.png"
      alt="donate_wechat_88" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-188">
      <img src="http://source.wublogpush.com/donate-wechat-188.png"
      alt="donate_wechat_188" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-any">
      <img src="http://source.wublogpush.com/donate-wechat-any.png"
      alt="donate_wechat_any" />
   </div>
</div>
<hr>
<h4><b>赞助方式二：支付宝支付</b></h4>
<p style="line-height:2;font-size:16px">
如果你有手机支付宝，请打开支付宝，使用「扫一扫」付款。<br>
如果你正在手机浏览该页面，可「长按」下方的二维码「保存到本地」，然后打开支付宝「扫一扫」，选择「从相册选择二维码」完成赞助。<br>
请闭上眼睛随意选择：<br>
</p>
<ul id="alipayTab" class="nav nav-pills">
   <li><a href="#donate-alipay-18" data-toggle="pill">￥18</a></li>
   <li class="active"><a href="#donate-alipay-28" data-toggle="pill">￥28</a></li>
   <li><a href="#donate-alipay-38" data-toggle="pill">￥38</a></li>
   <li><a href="#donate-alipay-68" data-toggle="pill">￥68</a></li>
   <li><a href="#donate-alipay-88" data-toggle="pill">￥88</a></li>
   <li><a href="#donate-alipay-188" data-toggle="pill">我是土豪</a></li>
   <li><a href="#donate-alipay-any" data-toggle="pill">其他</a></li>
</ul>

<div id="alipayTabContent" class="tab-content">
   <div class="tab-pane fade" id="donate-alipay-18">
      <img src="http://source.wublogpush.com/donate-alipay-18.jpg"
      alt="donate_alipay_18" />
   </div>
   <div class="tab-pane fade in active" id="donate-alipay-28">
      <img src="http://source.wublogpush.com/donate-alipay-28.jpg"
      alt="donate_alipay_28" />
   </div>
   <div class="tab-pane fade" id="donate-alipay-38">
      <img src="http://source.wublogpush.com/donate-alipay-38.jpg"
      alt="donate_alipay_38" />
   </div>
   <div class="tab-pane fade" id="donate-alipay-68">
      <img src="http://source.wublogpush.com/donate-alipay-68.jpg"
      alt="donate_alipay_68" />
   </div>
   <div class="tab-pane fade" id="donate-alipay-88">
      <img src="http://source.wublogpush.com/donate-alipay-88.jpg"
      alt="donate_alipay_88" />
   </div>
   <div class="tab-pane fade" id="donate-alipay-188">
      <img src="http://source.wublogpush.com/donate-alipay-188.jpg"
      alt="donate_alipay_188" />
   </div>
   <div class="tab-pane fade" id="donate-alipay-any">
      <img src="http://source.wublogpush.com/donate-alipay-any.jpg"
      alt="donate_alipay_any" />
   </div>
</div>

{% endblock %}
