{% extends "base.html" %}

{% block title %}赞助 - 吴姐推送{% endblock %}

{% block page_content %}
{% filter markdown %}
###赞助
{% endfilter %}
<hr>
<p style="line-height:2;font-size:16px">
如果这个服务对你有一定的帮助，不妨小额赞助我一下，帮我分担一些费用，也让我有动力继续完善服务。<br>
</p>
<hr>
<h4>微信支付赞助</h4>
<p style="line-height:2;font-size:16px">
如果你有微信，请打开微信，使用“扫一扫”付款。<br>
请闭上眼睛随意选择：<br>
</p>
<ul id="wechatTab" class="nav nav-tabs">
   <li><a href="#donate-wechat-8" data-toggle="tab">￥8</a></li>
   <li><a href="#donate-wechat-18" data-toggle="tab">￥18</a></li>
   <li class="active"><a href="#donate-wechat-28" data-toggle="tab">￥28</a></li>
   <li><a href="#donate-wechat-38" data-toggle="tab">￥38</a></li>
   <li><a href="#donate-wechat-58" data-toggle="tab">￥58</a></li>
   <li><a href="#donate-wechat-88" data-toggle="tab">我是土豪</a></li>
   <li><a href="#donate-wechat-any" data-toggle="tab">其他</a></li>
</ul>

<div id="myTabContent" class="tab-content">
   <div class="tab-pane fade" id="donate-wechat-8">
      <img src="http://source.wublogpush.com/donate-wechat-8.png"
      height="600" width="540" alt="donate_wechat_8" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-18">
      <img src="http://source.wublogpush.com/donate-wechat-18.png"
      height="600" width="540" alt="donate_wechat_18" />
   </div>
   <div class="tab-pane fade in active" id="donate-wechat-28">
      <img src="http://source.wublogpush.com/donate-wechat-28.png"
      height="600" width="540" alt="donate_wechat_28" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-38">
      <img src="http://source.wublogpush.com/donate-wechat-38.png"
      height="600" width="540" alt="donate_wechat_38" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-58">
      <img src="http://source.wublogpush.com/donate-wechat-58.png"
      height="600" width="540" alt="donate_wechat_58" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-88">
      <img src="http://source.wublogpush.com/donate-wechat-88.png"
      height="600" width="540" alt="donate_wechat_88" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-any">
      <img src="http://source.wublogpush.com/donate-wechat-any.png"
      height="600" width="540" alt="donate_wechat_any" />
   </div>
</div>
<hr>
<h4>支付宝支付赞助</h4>
<p style="line-height:2;font-size:16px">
如果你有手机支付宝，请打开支付宝App，使用“扫一扫”付款。<br>
赞助金额任意，谢谢。<br>
</p>
<img src="http://source.wublogpush.com/donate-alipay.png"
      alt="donate_alipay" />
{% endblock %}
