{% extends "base.html" %}

{% block title %}赞助 - 小王子推送{% endblock %}

{% block page_content %}
<div style="border: 0px solid; height: 70px;"></div>

<h3><i class="fa fa-lightbulb-o fa-fw"></i> 赞助</h3>
<hr>
<p style="line-height:2;font-size:16px">
如果这个服务对你有一定的帮助，不妨小额赞助一下「小王子推送」。<br>
你的赞助将全部用于服务建设，<a href="/donate#spend">查看「赞助支出」详情</a>。<br>
赞助方式有两种：微信支付、支付宝支付。
</p>
<hr>
<p style="line-height:2;font-size:16px">
如果你想感谢我个人，感谢我一个人独立开发了「小王子推送」这个服务，鼓励我继续完善、维护这个服务，可以<a href="/tip">点击此处给我小费</a>。<br>下方的赞助方式是赞助「小王子推送」，将全部用于服务建设。<br>
</p>
<hr>
<h4><b>赞助方式一：微信支付</b></h4>
<p style="line-height:2;font-size:16px">
如果你正在使用微信浏览该页面，可直接「长按」下方的二维码「识别图中二维码」完成赞助。<br>
请闭上眼睛随意选择：<br>
</p>
<ul id="wechatTab" class="nav nav-pills">
   <li><a href="#donate-wechat-8" data-toggle="pill">￥8</a></li>
   <li><a href="#donate-wechat-18" data-toggle="pill">￥18</a></li>
   <li class="active"><a href="#donate-wechat-28" data-toggle="pill">￥28</a></li>
   <li><a href="#donate-wechat-38" data-toggle="pill">￥38</a></li>
   <li><a href="#donate-wechat-68" data-toggle="pill">￥68</a></li>
   <li><a href="#donate-wechat-88" data-toggle="pill">我是土豪</a></li>
   <li><a href="#donate-wechat-188" data-toggle="pill">我是土豪 Pro</a></li>
   <li><a href="#donate-wechat-any" data-toggle="pill">其他</a></li>
</ul>

<div id="wechatTabContent" class="tab-content">
   <div class="tab-pane fade" id="donate-wechat-8">
      <img src="http://source.wublogpush.com/donate-wechat-8.png"
      alt="donate_wechat_8" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-18">
      <img src="http://source.wublogpush.com/donate-wechat-18.png"
      alt="donate_wechat_18" />
   </div>
   <div class="tab-pane fade in active" id="donate-wechat-28">
      <img src="http://source.wublogpush.com/donate-wechat-28.png"
      alt="donate_wechat_28" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-38">
      <img src="http://source.wublogpush.com/donate-wechat-38.png"
      alt="donate_wechat_38" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-68">
      <img src="http://source.wublogpush.com/donate-wechat-68.png"
      alt="donate_wechat_68" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-88">
      <img src="http://source.wublogpush.com/donate-wechat-88.png"
      alt="donate_wechat_88" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-188">
      <img src="http://source.wublogpush.com/donate-wechat-188.png"
      alt="donate_wechat_188" />
   </div>
   <div class="tab-pane fade" id="donate-wechat-any">
      <img src="http://source.wublogpush.com/donate-wechat-any.png"
      alt="donate_wechat_any" />
   </div>
</div>
<hr>
<h4><b>赞助方式二：支付宝支付</b></h4>
<p style="line-height:2;font-size:16px">
如果你正在手机浏览该页面，可「长按」下方的二维码「保存到本地」，然后打开支付宝「扫一扫」，选择「从相册选择二维码」完成赞助。<br>
请闭上眼睛随意选择：<br>
</p>
<ul id="alipayTab" class="nav nav-pills">
   <li><a href="#donate-alipay-8" data-toggle="pill">￥8</a></li>
   <li><a href="#donate-alipay-18" data-toggle="pill">￥18</a></li>
   <li class="active"><a href="#donate-alipay-28" data-toggle="pill">￥28</a></li>
   <li><a href="#donate-alipay-38" data-toggle="pill">￥38</a></li>
   <li><a href="#donate-alipay-68" data-toggle="pill">￥68</a></li>
   <li><a href="#donate-alipay-88" data-toggle="pill">我是土豪</a></li>
   <li><a href="#donate-alipay-188" data-toggle="pill">我是土豪 Pro</a></li>
   <li><a href="#donate-alipay-any" data-toggle="pill">其他</a></li>
</ul>

<div id="alipayTabContent" class="tab-content">
   <div class="tab-pane fade" id="donate-alipay-8">
      <img src="http://source.wublogpush.com/donate-alipay-8.jpg"
      alt="donate_alipay_8" />
   </div>
   <div class="tab-pane fade" id="donate-alipay-18">
      <img src="http://source.wublogpush.com/donate-alipay-18.jpg"
      alt="donate_alipay_18" />
   </div>
   <div class="tab-pane fade in active" id="donate-alipay-28">
      <img src="http://source.wublogpush.com/donate-alipay-28.jpg"
      alt="donate_alipay_28" />
   </div>
   <div class="tab-pane fade" id="donate-alipay-38">
      <img src="http://source.wublogpush.com/donate-alipay-38.jpg"
      alt="donate_alipay_38" />
   </div>
   <div class="tab-pane fade" id="donate-alipay-68">
      <img src="http://source.wublogpush.com/donate-alipay-68.jpg"
      alt="donate_alipay_68" />
   </div>
   <div class="tab-pane fade" id="donate-alipay-88">
      <img src="http://source.wublogpush.com/donate-alipay-88.jpg"
      alt="donate_alipay_88" />
   </div>
   <div class="tab-pane fade" id="donate-alipay-188">
      <img src="http://source.wublogpush.com/donate-alipay-188.jpg"
      alt="donate_alipay_188" />
   </div>
   <div class="tab-pane fade" id="donate-alipay-any">
      <img src="http://source.wublogpush.com/donate-alipay-any.jpg"
      alt="donate_alipay_any" />
   </div>
</div>
<hr>
<h3><i class="fa fa-credit-card fa-fw"></i> <a name="spend" style="color: #000000;text-decoration:none;" >赞助支出</a></h3>
<hr>
<p style="line-height:2;font-size:16px">
目前支出主要在三方面：服务费、群建设、赞赏wu2198。</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
<h4><b>服务费</b></h4>
<p style="line-height:2;font-size:16px">
主要包括两台阿里云服务器、SendCloud邮件发送服务，以及少量的域名年费、云解析年费、云存储费。</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
<h4><b>群建设</b></h4>
<p style="line-height:2;font-size:16px">
赞赏对群直播、邮件推送等服务提出有价值建议的朋友，鼓励多提建议、多反馈，以让服务变得越来越好。<br>
目前已赞赏知易、飞影，谢谢他们的宝贵建议。<br>
以后可能还会增加其他「群建设」支出，欢迎大家给建议。</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
<h4><b>赞赏wu2198</b></h4>
<p style="line-height:2;font-size:16px">
本服务完全基于wu2198的直播博文，没有wu2198，就没有这个服务。<br>
而且未经wu2198允许，将其博文内容自动整理通过邮件推送，并在该网站显示。尽管我曾尝试联系沟通，但未得到回复。<br>
为了表示对wu2198的感谢，也是为了弥补「本服务未经允许转载wu2198博客内容」，以后会将每期赞助资金的总额按一定比例以赞赏的方式给wu2198。<br>
「一定比例」将视赞赏总额在10%～20%内自由调整，大于国内大部分出版版税，主流的是低于10%。<br>前两期赞助资金支出的剩余已经作为了第一次的赞赏，比例是14.7%。<br>
希望大家理解并支持这项「赞赏wu2198」支出。
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
</p>
<table class="table table-striped">
<caption>赞助支出记录</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>产品</th>
          <th>金额</th>
          <th>日期</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
         <tr>
          <th scope="row">1</th>
          <td>云服务器1</td>
          <td>￥188.52</td>
          <td>2015-09-23</td>
          <td>阿里云，学生价，用于订阅网站、邮件推送</td>
        </tr>
         <tr>
          <th scope="row">2</th>
          <td>域名</td>
          <td>￥51.03</td>
          <td>2015-09-27</td>
          <td>namesilo，一年</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>云存储</td>
          <td>￥100.00</td>
          <td>2015-10-16</td>
          <td>七牛云，网站文件托管</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>云服务器2</td>
          <td>￥137.10</td>
          <td>2015-10-28</td>
          <td>阿里云，学生价，用于群直播</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>邮件推送</td>
          <td>￥500.00</td>
          <td>2015-11-10</td>
          <td>SendCloud，专业的邮件发送服务</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>云解析</td>
          <td>￥22.00</td>
          <td>2015-11-11</td>
          <td>阿里云，活动价，一年域名访问加速</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>赞赏wu2198</td>
          <td>￥146.78</td>
          <td>2016-03-08</td>
          <td>感谢wu2198的无私奉献</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>赞赏知易</td>
          <td>￥100.00</td>
          <td>2016-03-08</td>
          <td>感谢知易的「建群、禁言」建议</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>赞赏飞影</td>
          <td>￥50.00</td>
          <td>2016-03-08</td>
          <td>感谢飞影的「仓位变化突出显示」建议</td>
        </tr>
        <tr>
          <th scope="row">总计</th>
          <td></td>
          <td>￥1295.43</td>
          <td></td>
          <td></td>
        </tr>
         </tbody>
</table>
<hr>
<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="donate" data-title="赞助 - 小王子推送"
      data-url="http://wublogpush.com/donate"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"wublogpush"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->
{% endblock %}
