{% extends "base.html" %}

{% block title %}常见问题 - 小王子推送{% endblock %}

{% block content %}
{{super()}}
<script src="{{url_for('.static', filename='./js/jquery.bootstrap-autohidingnavbar.js',_external=True)}}"></script>
<script>$("nav.navbar-fixed-top").autoHidingNavbar();</script>
{% endblock %}

{% block page_content %}
<div style="border: 0px solid; height: 70px;"></div>
<h3>FAQ：常见问题</h3>
<hr>

<h4>「小王子推送」提供的群直播、邮件推送服务都收费吗？</h4>
<p style="line-height:2;font-size:16px">
  不收费。<br>
  是的，你没看错，不收费，这么超级棒的服务居然不收费，我也觉得天理难容，谁让我是个无私的程序员呢。<br>
  但是由于维持该服务需要一定的费用，所以，如果这个服务对你有一定的帮助，不妨小额赞助该服务，帮助其一直持续下去。<br>你的赞助将全部用于服务建设，<a href="/donate#spend">查看「赞助支出」详情</a>。<br>
  <i class="fa fa-hand-o-right fa-fw"></i> <a href="/donate" style="color: #6495ED;">点击此处进行赞助</a>
</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />

<h4>这个服务都是谁开发的？</h4>
<p style="line-height:2;font-size:16px">
  都是我一个人独立开发的，期间有很多自己的思考、想法，也有很多使用该服务的朋友给了一些非常好的建议。<br>可以说，这个一个聚集大家智慧的一个产品。
</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />

<h4>邮件推送的及时性如何？</h4>
<p style="line-height:2;font-size:16px">
说实话，速度不咋的，现在订阅，一般一两分钟能收到邮件。

<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />

<h4>订阅邮件推送服务后收邮件时，如何第一时间看到邮件？</h4>
<p style="line-height:2;font-size:16px">
QQ邮箱订阅的用户，
电脑端登陆QQ，一般会实时弹框提醒。<br>若不提醒，
请按该解决方案（下载
<a
  href="http://7xnj62.com1.z0.glb.clouddn.com/推送邮件电脑QQ不弹框提醒解决方案.doc"
  target="_blank">Word版</a>、
<a
  href="http://7xnj62.com1.z0.glb.clouddn.com/推送邮件电脑QQ不弹框提醒解决方案.pdf"
  target="_blank">PDF版</a>）设置，或者自行Google、百度。
手机端可用QQ邮箱客户端或微信接收。<br>
其他邮箱订阅的用户，手机端可以使用QQ邮箱客户端、网易邮箱等软件接收。<br>
<b>建议</b>：用QQ邮箱订阅，电脑登陆QQ并设置邮件弹框提醒、手机用QQ邮箱客户端都可及时提醒。
</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />

<h4>订阅邮件推送服务后，收件箱看起来都是股票邮件，该如何整理？</h4>
<p style="line-height:2;font-size:16px">
邮箱都有个文件夹公功能，可以帮助整理邮件。
QQ邮箱的话，我自己写了个简单的教程（下载
<a href="http://7xnj62.com1.z0.glb.clouddn.com/QQ收件箱推送邮件整理.doc"
  target="_blank">Word版</a>、
<a href="http://7xnj62.com1.z0.glb.clouddn.com/QQ收件箱推送邮件整理.pdf"
  target="_blank">PDF版</a>
  ），可立马让收件箱变的清净，而且不影响查看推送邮件。另外有<a href=" http://mail.163.com/help/help_mail_18.htm"
  target="_blank">163邮箱官方教程</a>、<a href="http://www.126.com/help/mail_16.htm"
  target="_blank">126邮箱官方教程</a>。
其它邮箱请自行Google、百度进行解决，比如搜「Gmail 文件夹」。
</p>
<hr>
<p style="line-height:2;font-size:16px">
如果您还有什么问题，可以直接在下方评论留言，我会在看到时给您回复。
</p>
<hr>
<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="FAQ" data-title="常见问题 - 吴姐推送" data-url="http://wublogpush.com/FAQ"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"wublogpush"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->

{% endblock %}
