{% extends "base.html" %}

{% block title %}常见问题 - 吴姐推送{% endblock %}

{% block page_content %}
<h3>常见问题</h3>
<hr>

<h4>该推送服务收费吗？</h4>
<p style="line-height:2;font-size:16px">
  不收费。<br>
  但是本人使用了邮件服务商SendCloud的付费服务，以及服务器也有相应的费用。<br>
  如果这个服务对你有一定的帮助，不妨小额赞助我一下，帮我分担一些费用，也让我有动力继续完善服务。
  <br>
  <a href="http://wublogpush.com/donate" style="color: #6495ED;">【我要小额赞助】</a>
</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />

<h4>每天会收到多少邮件？</h4>
<p style="line-height:2;font-size:16px">
一般5封左右，包括wu2198每次交易的推送、11:40的一封上午直播以及15:10的一封今日直播。<br>
也就是说收信量是与wu2198交易次数相关的。
</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />

<h4>邮件推送的及时性如何？</h4>
<p style="line-height:2;font-size:16px">
wu2198股市直播一有仓位更新，10s左右可收到邮件。
<br>
<b>注意</b>：
倘若11:00 买进10%券商股，邮件接收时间为10:05。
延时五分钟是因为吴姐在10:05才更新博客，而不是推送服务延时5分钟。
</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />

<h4>收到邮件后，如何第一时间看到邮件？</h4>
<p style="line-height:2;font-size:16px">
QQ邮箱订阅的用户，
电脑端登陆QQ，一般会实时弹框提醒。若不提醒，
请按该解决方案（下载
<a
  href="http://7xnj62.com1.z0.glb.clouddn.com/推送邮件电脑QQ不弹框提醒解决方案.doc"
  target="_blank">Word版</a>、
<a
  href="http://7xnj62.com1.z0.glb.clouddn.com/推送邮件电脑QQ不弹框提醒解决方案.pdf" 
  target="_blank">PDF版</a>）设置，或者自行Google、百度。
手机端可用QQ邮箱客户端或微信接收。<br>
其他邮箱订阅的用户，手机端可以使用QQ邮箱客户端、网易邮箱等软件接收。<br>
<b>建议</b>：用QQ邮箱订阅，电脑登陆QQ、手机用QQ邮箱客户端都可及时提醒（微信有时会延迟）。
</p>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />

<h4>订阅服务后，收件箱看起来都是股票邮件，该如何整理？</h4>
<p style="line-height:2;font-size:16px">
QQ邮箱的话，教你一个好招(下载
<a href="http://7xnj62.com1.z0.glb.clouddn.com/QQ收件箱推送邮件整理.doc"
  target="_blank">Word版</a>、
<a href="http://7xnj62.com1.z0.glb.clouddn.com/QQ收件箱推送邮件整理.pdf"
  target="_blank">PDF版</a>）
)，可立马让收件箱变的清净，而且不影响查看推送邮件。
<br>
163、126、yeah等邮箱请自行Google、百度进行解决，比如搜“163邮箱收件箱归档”。邮箱应该都有这个功能的。
</p>
{% endblock %}
