{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}股邮推 - 吴姐推送{% endblock %}


{% block page_content %}
<h3>吴姐推送</h3>
<p style="line-height:2;font-size:16px">
  吴姐推送是一个实时邮件推送<a href="http://blog.sina.com.cn/s/articlelist_1216826604_0_1.html"
  style="color: #6495ED;text-decoration:none;" 
  target="_blank">wu2198股市直播</a>中仓位变化的免费服务。
<hr>
<h3>订阅</h3>
{{ wtf.quick_form(form, horizontal_columns=('lg', 3, 20)) }}

<div>
  <p>
  </p>
  <p style="line-height:2;font-size:16px">
  你的邮箱将只用于吴姐推送，你也可以随时取消订阅。还等什么？<b>赶快订阅吧！</b>
  </p>
</div>
<hr>
<h3>常见问题</h3>
<p>
<li style="line-height:2.0;font-size:16px">
  <a href="FAQ" style="color: #6495ED;text-decoration:none;">
    该推送服务收费吗？</a>
</li>
<li style="line-height:2;font-size:16px">
  <a href="FAQ" style="color: #6495ED;text-decoration:none;">
    每天会收到多少邮件？</a>
</li>
<li style="line-height:2;font-size:16px">
  <a href="FAQ" style="color: #6495ED;text-decoration:none;">
    邮件推送的及时性如何？</a>
</li>
<li style="line-height:2;font-size:16px">
  <a href="FAQ" style="color: #6495ED;text-decoration:none;">
    收到邮件后，如何第一时间看到邮件？</a>
</li>
<li style="line-height:2;font-size:16px">
  <a href="FAQ" style="color:#6495ED;text-decoration:none;">
    订阅服务后，收件箱看起来都是股票邮件，该如何整理？</a>
</li>
<p>
<hr>

<h3>鸣谢</h3>

<p>
<li style="line-height:2.0;font-size:16px">
感谢<a href="http://weibo.com/wu2198"
style="color: #6495ED;text-decoration:none;"·
target="_blank">wu2198</a>在<a href="http://blog.sina.com.cn/s/articlelist_1216826604_0_1.html"
style="color: #6495ED;text-decoration:none;" target="_blank">新浪博客</a>的无私奉献
</li>
<li style="line-height:2.0;font-size:16px">
    感谢我的好朋友国君提供的宝贵建议
</li>
<li style="line-height:2.0;font-size:16px">
    感谢钇博、社团话事人、Andy、超级牛宝宝、威威虎、棉棉等的帮助、鼓励或反馈
</li>
</p>
<p>
<span style="line-height:2.0;font-size:18px">赞助感谢名单：</span>
<li style="line-height:2.0;font-size:16px">
社团话事人
</li>
<li style="line-height:2.0;font-size:16px">
钇博
</li>
<li style="line-height:2.0;font-size:16px">
威威虎
</li>
<li style="line-height:2.0;font-size:16px">
凡人
</li>
<li style="line-height:2.0;font-size:16px">
大漠
</li>
<li style="line-height:2.0;font-size:16px">
Andy
</li>
<li style="line-height:2.0;font-size:16px">
超级牛宝宝
</li>
<li style="line-height:2.0;font-size:16px">
小旬
</li>
<li style="line-height:2.0;font-size:16px">
大汉散人
</li>
<li style="line-height:2.0;font-size:16px">
树昇
</li>
<li style="line-height:2.0;font-size:16px">
PengJin
</li>
<li style="line-height:2.0;font-size:16px">
如意
</li>
<li style="line-height:2.0;font-size:16px">
破晓
</li>
<li style="line-height:2.0;font-size:16px">
该删的删
</li>
<li style="line-height:2.0;font-size:16px">
金艺
</li>
<li style="line-height:2.0;font-size:16px">
彼岸
</li>
<li style="line-height:2.0;font-size:16px">
欣树
</li>
<li style="line-height:2.0;font-size:16px">
鹏
</li>
<li style="line-height:2.0;font-size:16px">
潮妈浮萍
</li>
<li style="line-height:2.0;font-size:16px">
小2口青
</li>
<li style="line-height:2.0;font-size:16px">
eos70d
</li>
<li style="line-height:2.0;font-size:16px">
Yan
</li>
</p>
{% endblock %}
