{% extends "base.html" %}

{% block title %}最新一期 - 吴姐推送{% endblock %}

{% block page_content %}
<h3>{{pushTitle}}</h3>
<div>
  推送时间：{% if pushTime %}{{pushTime}}{% else %}未知{% endif %}
</div>
<hr>
{% if news %}
<h style="font-size:20px"><b>最新动态</b></h>
  <p style="line-height:2; font-size:16px">
    {{news|safe}}
  </p>
  <hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
{% endif %}

{% if deals %}
<h style="font-size:20px"><b>今日交易</b></h>
  <p style="line-height:2; font-size:16px">
    {{deals|safe}}
  </p>
  <hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
{% endif %}
<h style="font-size:20px"><b>今日直播</b></h>
  <div >
    <p style="line-height:2; font-size:16px">
    {{content|safe}}
    </p>
  </div>
  <hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
  <div style="line-height:2; font-size:16px">
    <a href="{{url}}"
      style="color: #6495ED;text-decoration:none;"·
      target="_blank">查看原文</a>  
  </div>


  {% endblock %}
