{% extends "base.html" %}

{% block title %}第{{pushId}}期 - 小王子推送{% endblock %}

{% block page_content %}
<div style="border: 0px solid; height: 70px;"></div>
{% for message in get_flashed_messages() %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message|safe }}
    </div>
{% endfor %}
<h3>{{pushTitle}}</h3>
<p style="line-height:1.8;">
 小王子推送第{{pushId}}期<br>
  推送时间：{% if pushTime %}{{pushTime}}{% else %}未知{% endif %}
</p>
<hr>
{% if news %}
<h style="font-size:20px"><b>最新动态</b></h>
  <p style="line-height:2; font-size:16px">
    {{news|safe}}
  </p>
  <hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
{% endif %}

{% if deals %}
<h style="font-size:20px"><b>今日交易</b></h>
  <p style="line-height:2; font-size:16px">
    {{deals|safe}}
  </p>
  <hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
{% endif %}
{% if changes %}
<h style="font-size:20px"><b>仓位变化</b></h>
  <p style="line-height:2; font-size:16px">
    {{changes|safe}}
  </p>
  <hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
{% endif %}
<h style="font-size:20px"><b>今日直播</b></h>
  <div >
    <p style="line-height:2; font-size:16px">
    {{content|safe}}
    </p>
  </div>
  <hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
  <div style="line-height:2; font-size:16px">
    <a href="{{url}}"
      style="color: #6495ED;text-decoration:none;"·
      target="_blank">查看原文</a>
  </div>
<hr>
<ul class="pager">
    <li class="previous"><a href="{{preId}}">&larr; 上一篇</a></li>
    <li class="next"><a href="{{nextId}}">下一篇 &rarr;</a></li>
</ul>
<hr>
<!-- 多说评论框 start -->
<!--
  <div class="ds-thread" data-thread-key="pushes_{{pushId}}" data-title="第{{pushId}}期 - 小王子推送"
      data-url="http://wublogpush.com/pushes/{{pushId}}"></div>
-->
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<!--
<script type="text/javascript">
var duoshuoQuery = {short_name:"wublogpush"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
-->

<!-- 多说公共JS代码 end -->
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
  {% endblock %}
