{% extends "base.html" %}

{% block title %}鸣谢 - 小王子推送{% endblock %}

{% block page_content %}
<div style="border: 0px solid; height: 70px;"></div>
<h3><i class="fa fa-lightbulb-o fa-fw"></i> 鸣谢</h3>
<hr>
<p>
<li style="line-height:2.0;font-size:16px">
感谢<a href="http://weibo.com/wu2198"
style="color: #6495ED;text-decoration:none;"·
target="_blank">「wu2198」</a>在<a href="http://blog.sina.com.cn/s/articlelist_1216826604_0_1.html"
style="color: #6495ED;text-decoration:none;" target="_blank">「新浪博客」</a>的无私奉献
</li>
<li style="line-height:2.0;font-size:16px">
    感谢我的好朋友国君第一个体验使用，并给予了宝贵的意见
</li>
<li style="line-height:2.0;font-size:16px">
    感谢社团话事人、钇博、Andy、超级牛宝宝、威威虎、棉棉等在初期的帮助、鼓励或反馈
</li>
<li style="line-height:2.0;font-size:16px">
    感谢知易的「建群、禁言」的建议，没有他的建议，就没有直播群，从而帮助大家节省了大量刷博客的时间
</li>
<li style="line-height:2.0;font-size:16px">
    感谢飞影的「仓位变化突出显示」「添加空间指数与操作策略直播」的建议，帮助了直播内容做得越来越好
</li>
<li style="line-height:2.0;font-size:16px">
    感谢每一位体验邮件推送、群直播的朋友，是你们让我觉得自己在做一件有意义的事
</li>
<li style="line-height:2.0;font-size:16px">
    感谢赞助的朋友们，是你们的支持让「小王子推送」这个服务一直持续下去
</li>
</p>
<hr>
<h3><i class="fa fa-list-ul fa-fw"></i> 赞助感谢名单</h3>
<hr>
<h4>第 1 期赞助</h4>
<p style="line-height:2;font-size:16px">
组织这次赞助时，没有群直播，没有优质稳定的邮件服务，没有订阅网站，只有通过自己的邮箱提供的简单的、不稳定的邮件服务。<br>当我说需要500块购买邮件服务时，大家是那么的支持我、信任我，并帮我圆满的完成了赞助目标，谢谢你们。
</p>
<table class="table table-striped">
<caption>第 1 期赞助名单</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>赞助人</th>
          <th>赞助方式</th>
          <th>日期</th>
        </tr>
      </thead>
      <tbody>
      <tr>
          <th scope="row">1</th>
          <td>威威虎</td>
          <td>支付宝</td>
          <td>2015-11-06</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>钇博</td>
          <td>支付宝</td>
          <td>2015-11-06</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>欣树</td>
          <td>支付宝</td>
          <td>2015-11-06</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>彼岸</td>
          <td>支付宝</td>
          <td>2015-11-06</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>潮妈浮萍</td>
          <td>支付宝</td>
          <td>2015-11-06</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>小2口青</td>
          <td>支付宝</td>
          <td>2015-11-06</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Yan</td>
          <td>支付宝</td>
          <td>2015-11-06</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>大漠无痕</td>
          <td>支付宝</td>
          <td>2015-11-07</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>andy</td>
          <td>支付宝</td>
          <td>2015-11-07</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>超级牛宝宝</td>
          <td>支付宝</td>
          <td>2015-11-07</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>小旬</td>
          <td>支付宝</td>
          <td>2015-11-07</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>PengJin</td>
          <td>支付宝</td>
          <td>2015-11-07</td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td>鹏</td>
          <td>支付宝</td>
          <td>2015-11-07</td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>社团话事人</td>
          <td>支付宝</td>
          <td>2015-11-09</td>
        </tr>
        <tr>
          <th scope="row">15</th>
          <td>如意</td>
          <td>QQ红包</td>
          <td>2015-11-09</td>
        </tr>
        <tr>
          <th scope="row">16</th>
          <td>bk</td>
          <td>支付宝</td>
          <td>2015-11-09</td>
        </tr>
        <tr>
          <th scope="row">17</th>
          <td>破晓</td>
          <td>QQ红包</td>
          <td>2015-11-09</td>
        </tr>
        <tr>
          <th scope="row">18</th>
          <td>该删的删</td>
          <td>支付宝</td>
          <td>2015-11-09</td>
        </tr>
        <tr>
          <th scope="row">19</th>
          <td>金艺</td>
          <td>支付宝</td>
          <td>2015-11-09</td>
        </tr>
        <tr>
          <th scope="row">20</th>
          <td>凡人</td>
          <td>支付宝</td>
          <td>2015-11-10</td>
        </tr>
        <tr>
          <th scope="row">21</th>
          <td>hss_130</td>
          <td>支付宝</td>
          <td>2015-11-10</td>
        </tr>
        <tr>
          <th scope="row">22</th>
          <td>eos70d</td>
          <td>支付宝</td>
          <td>2015-11-10</td>
        </tr>
        <tr>
          <th scope="row">总计</th>
          <td></td>
          <td><del>￥504.28</del></td>
          <td></td>
        </tr>
      </tbody>
    </table>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
<h4>第 2 期赞助</h4>
<p style="line-height:2;font-size:16px">
本无意组织这次赞助。由于完善了赞助的方式，便把赞助地址发到了微信直播群里，也算是回应部分群友的要求。<br>
结果一发到群里，出乎意料多的人给了赞助，非常感谢。这样就算第 2 期赞助了。<br>
因之前收到的红包，都已在群里发完，且也不是赞助渠道，故不统计其总金额，也不记录其使用详情，但仍将其列在了下面的名单中。
</p>
<table class="table table-striped">
<caption>第 2 期赞助名单</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>赞助人</th>
          <th>赞助方式</th>
          <th>日期</th>
        </tr>
      </thead>
      <tbody>
      	<tr>
          <th scope="row">1</th>
          <td>wizard</td>
          <td>支付宝</td>
          <td>2015-12-05</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>支付宝</td>
          <td>2015-12-14</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>支付宝</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>华</td>
          <td>QQ红包</td>
          <td>2015-12-15</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Kathy</td>
          <td>QQ红包</td>
          <td>2015-12-15</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>神兜兜</td>
          <td>QQ红包</td>
          <td>2015-12-17</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>金仙子</td>
          <td>QQ红包</td>
          <td>2015-12-17</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>QQ红包</td>
          <td>2015-01-25</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Mark</td>
          <td>支付宝</td>
          <td>2015-12-31</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>M</td>
          <td>微信红包</td>
          <td>2016-01-06</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>lily</td>
          <td>微信红包</td>
          <td>2016-01-08</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>2046</td>
          <td>QQ红包</td>
          <td>2016-01-18</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>重庆小面</td>
          <td>微信红包</td>
          <td>2016-01-21</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>miss童姥</td>
          <td>支付宝</td>
          <td>2016-01-21</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>威威虎</td>
          <td>QQ红包</td>
          <td>2016-02-07</td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td>清蓬</td>
          <td>支付宝</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>华少</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">15</th>
          <td>海军</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">16</th>
          <td>水蜜桃和芒果</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">17</th>
          <td>沛瑜Joyce</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">18</th>
          <td>佳古文</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">19</th>
          <td>芳雅</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">20</th>
          <td>WLL</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">21</th>
          <td>李立</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">22</th>
          <td>大漠无痕</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">23</th>
          <td>薰衣草</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">24</th>
          <td>蔡蔡</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">25</th>
          <td>helen</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">26</th>
          <td>Hiro_超</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">27</th>
          <td>郁海华</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">28</th>
          <td>玉兰油</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">29</th>
          <td>蚊子</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">30</th>
          <td>Rich.ma</td>
          <td>微信支付</td>
          <td>2016-02-19</td>
        </tr>
        <tr>
          <th scope="row">31</th>
          <td>Ellen</td>
          <td>微信支付</td>
          <td>2016-02-21</td>
        </tr>
        <tr>
          <th scope="row">总计</th>
          <td></td>
          <td><del>￥641.15</del></td>
          <td></td>
        </tr>
      </tbody>
    </table>
<hr style="height:1px;border:none;border-top:1px dashed #E0E0E0;" />
<h4>第 3 期赞助</h4>
<p style="line-height:2;font-size:16px">
第 3 期赞助正式开启，这期赞助的结束日期至少是半年后（2016/09/08）。<br>赞助名单的更新不是及时的，可能是周更，也可能是月更。非常感谢！<br>
</p>
<table class="table table-striped">
<caption>第 3 期赞助名单</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>赞助人</th>
          <th>赞助方式</th>
          <th>日期</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>二蛋</td>
          <td>支付宝</td>
          <td>2016-03-04</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>张擎天</td>
          <td>微信支付</td>
          <td>2016-03-06</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>玉兰油</td>
          <td>微信支付</td>
          <td>2016-03-06</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>左右</td>
          <td>微信支付</td>
          <td>2016-03-06</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Hiro_超</td>
          <td>微信支付</td>
          <td>2016-03-06</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>红糖</td>
          <td>微信支付</td>
          <td>2016-03-06</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>华少</td>
          <td>微信支付</td>
          <td>2016-03-06</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>章鱼哥的美好生活</td>
          <td>微信支付</td>
          <td>2016-03-06</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>wizard</td>
          <td>支付宝</td>
          <td>2016-03-08</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>FC</td>
          <td>微信支付</td>
          <td>2016-03-21</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>小马</td>
          <td>微信支付</td>
          <td>2016-03-21</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>玉兰油</td>
          <td>微信支付</td>
          <td>2016-03-21</td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td>刘焱</td>
          <td>微信支付</td>
          <td>2016-03-21</td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>艾彦</td>
          <td>支付宝</td>
          <td>2016-03-25</td>
        </tr>
        <tr>
          <th scope="row">15</th>
          <td>永通电子</td>
          <td>支付宝</td>
          <td>2016-03-28</td>
        </tr>
        <tr>
          <th scope="row">16</th>
          <td>蜗牛</td>
          <td>支付宝</td>
          <td>2016-03-28</td>
        </tr>
        <tr>
          <th scope="row">17</th>
          <td>章鱼哥的美好生活</td>
          <td>微信支付</td>
          <td>2016-03-28</td>
        </tr>
        <tr>
        <tr>
          <th scope="row">18</th>
          <td>yirongtao</td>
          <td>微信支付</td>
          <td>2016-04-16</td>
        </tr>
        <tr>
        <tr>
          <th scope="row">19</th>
          <td>lh</td>
          <td>微信支付</td>
          <td>2016-04-16</td>
        </tr>
        <tr>
          <th scope="row">总计</th>
          <td></td>
          <td><del>￥470.77</del></td>
          <td></td>
        </tr>
      </tbody>
    </table>
<hr>
<p style="line-height:2;font-size:16px">
公开以上信息，主要是为了感谢各位的支持，也是为了让赞助这件事能公开透明化。<br>
<a href="http://wublogpush.com/donate#spend">查看赞助支出详情</a>
</p>
<hr>

<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="thanks" data-title="鸣谢 - 小王子推送"
      data-url="http://wublogpush.com/thanks"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"wublogpush"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->
{% endblock %}
