{% extends "base.html" %}

{% block title %}给小费 - 小王子推送{% endblock %}

{% block page_content %}
<div style="border: 0px solid; height: 70px;"></div>
<h3><i class="fa fa-gift fa-fw"></i> 给蜗牛小费</h3>
<hr>
<p style="line-height:2;font-size:16px">
非常感谢给我小费的朋友们。<br>
目前已有：wizard、风影、荷塘月色、神兜兜、超级牛宝宝、华少，非常谢谢你们。<br>
特别是wizard给了我两次大红包，特别感动，特别感谢。
<br>
</p>
<hr>
<p style="line-height:2;font-size:16px">
给小费方式：微信支付、支付宝支付。
</p>
<hr>
<h4><b>方式一：微信支付</b></h4>
<p style="line-height:2;font-size:16px">
如果你正在使用微信浏览该页面，可直接「长按」下方的二维码「识别图中二维码」。<br>
</p>
<div>
    <img src="http://source.wublogpush.com/tip-wechat.jpg"
      alt="tip-wechat" />
</div>

<hr>
<h4><b>方式二：支付宝支付</b></h4>
<p style="line-height:2;font-size:16px">
如果你正在手机浏览该页面，可「长按」下方的二维码「保存到本地」，然后打开支付宝「扫一扫」，选择「从相册选择二维码」。<br>
</p>
<div>
  <img src="http://source.wublogpush.com/tip-alipay.jpg"
  alt="tip-alipay" />
</div>

<hr>

<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="tip" data-title="给小费 - 小王子推送"
      data-url="http://wublogpush.com/tip"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"wublogpush"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->
{% endblock %}
