{% extends "base.html" %}

{% block title %}给小费 - 小王子推送{% endblock %}

{% block page_content %}
{% filter markdown %}
###给小费蜗牛
{% endfilter %}
<hr>
<p style="line-height:2;font-size:16px">
该邮件推送服务、群直播服务、订阅网站都是「蜗牛」一个人独立完成的。<br>
</p>
<hr>
<p style="line-height:2;font-size:16px">
从去年6月份入股市，9月份下旬离开股市，短短三月，尝遍了股市的心酸苦楚，然而邮件服务就是诞生于那个天天跌停的时期。<br>
开始就我自己和同学两人使用，想着也许能共享出来，便在「刘鹏程Sai.L粉丝群」里宣传了一下，得到了第一批体验者，20人。<br>知道wu2198也是源于这个群，感谢这个群以及热心的群友们。
<h4>邮件推送服务</h4>
<li style="line-height:2.0;font-size:16px">
待补充
</li>
<li style="line-height:2.0;font-size:16px">
待补充
</li>

<h4>群直播服务</h4>
<li style="line-height:2.0;font-size:16px">
待补充
</li>
<li style="line-height:2.0;font-size:16px">
待补充
</li>
<h4>订阅网站</h4>
<li style="line-height:2.0;font-size:16px">
待补充
</li>
<li style="line-height:2.0;font-size:16px">
待补充
</li>
<hr>
<p style="line-height:2;font-size:16px">
给小费方式：微信支付、支付宝支付。
</p>
</p>
<hr>
<h4><b>方式一：微信支付</b></h4>
<p style="line-height:2;font-size:16px">
如果你正在使用微信浏览该页面，可直接「长按」下方的二维码「识别图中二维码」完成赞助。<br>
</p>
<div>
    <img src="http://source.wublogpush.com/tip-wechat.jpg"
      alt="tip-wechat" />
</div>

<hr>
<h4><b>方式二：支付宝支付</b></h4>
<p style="line-height:2;font-size:16px">
如果你正在手机浏览该页面，可「长按」下方的二维码「保存到本地」，然后打开支付宝「扫一扫」，选择「从相册选择二维码」完成赞助。<br>
</p>
<div>
  <img src="http://source.wublogpush.com/tip-alipay.jpg"
  alt="tip-alipay" />
</div>

<hr>

<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="tip" data-title="给小费 - 小王子推送"
      data-url="http://wublogpush.com/tip"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"wublogpush"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->
{% endblock %}
