{% extends "base.html" %}

{% block title %}吴姐推送 - 取消订阅{% endblock %}

{% block page_content %}
<div class="page-header">
  <h3>感谢您对小王子推送的一路支持！</h3>
  <hr>
  <p style="line-height:2;font-size:16px">
  「小王子推送」近期推出了<b>群直播服务</b>－－「小王子推送直播群」。<br>
   我们提供最及时的直播博客服务，帮你减少刷新博客的时间，第一时间知晓wu2198博客的更新动态。<br>
   </p>
   <hr>
   <h4><b>加入方式</b></h4>
	<p style="line-height:2;font-size:16px">
	<b>QQ直播群</b><br>
	群名：小王子推送直播群<br>
	群号：481242190<br>
	可搜索群名或群号申请加入。<br>
	</p>
	<p style="line-height:2;font-size:16px">
	<b>微信直播群</b><br>
	加「直播小王子」的微信号，linsteven123，之后会拉你进直播群。
	</p>
</div>
{% endblock %}
